.sp-heading {
  display: flex;
  align-items: center;
}

.sparkpost .column-subject {
  width:15% !important;
  overflow: hidden;
}

.sparkpost .column-sent_at {
  width:10% !important;
  overflow: hidden;
}

.sparkpost .column-content {
  width:30% !important;
  overflow: hidden;
}
.sparkpost .column-response {
  width:30% !important;
  overflow: hidden;
}

.sparkpost .column-wp_mail_args{
  width: 15%
  overflow: hidden;
}
